

.index-container {
  display: flex;

  .filters {
    width: 40%;
    margin-left: 20px;

    // text-align: left;
  }

  .sharedcards {
    width: 80%;
  }
}

#final-butt {
  color: #D93479;
  background-color: #080215;
  border: 1px solid #D93479;
  width: 100%;
  opacity: 1;
  letter-spacing: 5px;
  -webkit-transition: background 500ms;
  font-weight: lighter;
  &:hover {
    color: #080215;
    background-color: #D93479;
  }
}

#i {
    overflow: hidden !important;
    border-radius: 30px !important;
}

#city-filter, #final-butt, #genre-filter, #instrument-type-filter {
    overflow: hidden;
    border-radius: 30px;
    margin: 10px 0;
    outline: none;
}

.banner-index {
  height: 50vh;
  background-position: center;
  position: relative;
}

.banner-index_content {
  h1 {
    color: white;
    position: absolute;
    bottom: 15%;
    left: 3%;
  }
  h2 {
    color: white;
    position: absolute;
    bottom: 15%;
    right: 10%;
  }
  p {
    color: white;
    position: absolute;
    bottom: 25%;
    right: 10%;
  }
}

// CODES FOR LOADING PAGE UNDER !

#loading {
    display:    block;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    animation: slide-slow 3s;
    animation-iteration-count: infinite;
    background: rgba( 10, 10, 10, .9 )
                image-url('logopio.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}


.francisco {
  position: sticky;
  top: 80px;
}
