a {
  color: #D93479;
}

.banner-show-container {
  position: relative;
}

.banner-show {
  height: calc(50vh - 50px);
  justify-content: space-between;
  background-position: center;
  filter: blur(1px);
  -webkit-filter: blur(1px);

}

.banner-show-content {
  position: absolute;
  bottom: 5px;
  left: 15%;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.grid {
  display: grid;
  grid-template-columns: 500px 1fr 1fr;
  grid-template-rows: 50% 50%;
  margin: 5px 0;
}

.jamm-info {
  position: relative;
  box-shadow: 2px 5px 5px 0 rgba(0,0,0,0.16),0 1px 0 0 rgba(0,0,0,0.16);
  grid-row: 1 / span 2;
  grid-column: 3 / span 1;
  background-color: white;
  color: black;
  padding: 0px;
  margin: 5px;

    ul{
      padding-left: 10px;
    }

    img {
      height: 60px;
      margin: 15px;
    }

    h3 {
      text-align: center;
    }
}

.description {
  box-shadow: 2px 5px 5px 0 rgba(0,0,0,0.16),0 1px 0 0 rgba(0,0,0,0.16);
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  background-color: white;
  color: black;

  border: 1px white solid;
  padding: 20px;
  margin: 5px;
}

.map {
  box-shadow: 2px 5px 5px 0 rgba(0,0,0,0.16),0 1px 0 0 rgba(0,0,0,0.16);
  // grid-row: 2 / span 1;
  // grid-column: 1 / span 2;
  margin: 5px;
  margin-right: 5px;
  height: 350px !important;
}

.players {
  box-shadow: 2px 5px 5px 0 rgba(0,0,0,0.16),0 1px 0 0 rgba(0,0,0,0.16);
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
  background-color: white;
  color: black;

  border: 1px white solid;
  padding: 20px;
  margin: 5px;
      h3 {
        margin-bottom: 10px;
      }
}

.players-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.jamms-settings {
  list-style-type: none;
  padding-bottom: 30px;
}

.jamms-settings-join {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.jamm-set-item {
  padding-left: 30px;
}

.jamm-info-title {
  padding-top: 20px;
}
