<div class="banner" style="align-items: center; background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #090216 100%),  url('<%= image_url("banner_image.jpg") %>');">
  <div class="banner-content">
    <div class="brand_logo">
      <h1><%= image_tag "jammboxx.png", height: 150 %></h1>
      <p>Join fellow musicians wherever you go!</p>
    </div>
    <div class="slider-banner">
      <%= render 'shared/slider' %>
    </div>
    <div>
      <%= link_to "skip", jamms_path, class: 'skip' %>
    </div>
  </div>
</div>
