<div class="cards_container">
  <% @jams.each do |jam|  %>
    <div class="card">
      <div class="card-top">
        <div class="image">

        </div>
      </div>
      <div class="card-bottom">

      </div>
    </div>
  <div class="card">
  </div>
</div>
