/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  position: absolute;
  opacity: 0.6;
  top: 80px;
  right: 20px;
  text-align: center;
  color: white;
  width: 400px;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
