.avatar {
  width: 35px;
  border-radius: 50%;
}
.avatar-large {
  width: 50px;
  border-radius: 50%;
  height: 50px;
}
.avatar-square {
  width: 90px;
  height: 90px;

  border-radius: 50%;
}
.avatar-bordered {
  width: 30px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-instrument {
  width: 40px;
  border-radius: 10%;
  margin: 0px 4px;
}
.avatar-instrument-show {
  width: 52px;
  border-radius: 10%;
  margin: 4px 4px;
}

.avatar-instrument-available {
  opacity: 0.4;
}

.plus-icon {
    background: #9B9987;
    color: #9B9987;
    text-decoration: none;
    opacity: 0.5;
}

.plus-icon:hover {
  background: #E55381;
  color:#E55381;
  text-decoration:none;
  opacity: 1;
  cursor:pointer;
}

  .plus-icon-b {
  color: #9B9987;
  text-decoration: none;
}

.plus-icon-b:hover {
  color:#E55381;
  text-decoration:none;
  cursor:pointer;
}

.avatar-instrument-type {
  visibility: hidden;
  position: absolute;
  color: white;
  padding: 0 4px;
  border-radius: 8%;
  font-size: 12px;
}
.icon-wrap:hover .avatar-instrument-type {
  visibility: visible;
}

.avatar-instrument-type-available {
  background: #D93479;
}

.avatar-instrument-type-taken {
  background: black;
}
