
.card-container {
  background: #f5f5f5;
  margin: 50px auto;
  width: 512px;
}

.card {
  background: rgba(255,255,255,0.97);
  box-shadow: 2px 4px 3px 0px rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  border-radius: 3px;
  margin: 10px;
  height: calc((100vh - 50px) / 3);

  .card-left_content {
    flex: 0 0 25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    height: 100%;
    .card_image {
      width: 400px;
      height: 300px;
    }
  }

  .card-right_content {
    padding: 0 10px;

    // flex: 1 0 auto;
    width: 80%;


    .card-top {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .card-middle {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .card-middle-top {
      display: flex;
      justify-content: space-between;
      width: 100%;

    }
    .card-bottom {
      display: flex;
      max-width: 100%;
      overflow: hidden;
    }
  }
}

