.footer {
  background: #080215;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30px;
  padding-top: 20px;
  margin: 20px;

}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-links a {
  color: white;
  opacity: 0.7;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
  color: #D93479;
}

.footer .fa-heart {
  color: #D23333;
}
