<div id="newJammPlayer" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title"> <%= @jamm.name  %> </h3>
      </div>
      <div class="modal-body">
        <h4> Select your instrument </h4>
        <select>
          <% User.find(100).instruments.each do |instrument|%>
            <option value="volvo">  <%= instrument.instrument_type.name %> </option>
          <% end %>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success"> JOIN </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
